<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <body class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body form-login">
                                <div class="input-group mb-3">
                                    Register successful. Please check email
                                </div>
                                <div class="row text-center">
                                    <div class="col-12">
                                        <a class="btn btn-primary px-4" th:href="@{/}">Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>