<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Question Template</title>
    </head>
    <body>
        <div class="editor-block__Container-q8rm33-0 kEbQjs">
            <div class="visual__Root-sc-1oj35my-2 kcnEwO">
                <div class="visual__EditorBlockWrapper-sc-1oj35my-4 blockWrapper" data-qa="editor-block">
                    <div draggable="true">
                        <div class="editor-block__GutterWrapper-q8rm33-3 gutterWrapper">
                            <div class="editor-block__BlockIndex-q8rm33-2 hQiBHf Split-sc-3xe4fi-0 blockIndex"
                                data-qa="gutter-icon" data-qa-block-ref="af0998704d37878c"
                                data-qa-gutter-type="multiple_choice" orientation="horizontal">
                                <div class="SplitItem-sc-3xe4fi-1 dLCPjE">
                                    <div class="BlockBox-sc-1oydzc8-0 blockBox" kind="wide">
                                        <div class="IconRoot-tvakxr-0 fYiTPF Align-sc-1shbtnq-0 iconRoot" height="auto" width="auto" color="white">
                                            <span class="SVGInline">
                                                <svg class="SVGInline-svg" width="14" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7072.707124L5.00008 9.41423.292969 4.70712c.781051-.78104 2.047381-.78104 2.828431 0L5.00008 6.5858 10.8788.707124c.781-.7810482 2.0473-.7810482 2.8284 0z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="BlockIndex-sc-1oydzc8-1 font-blockIndex">2</div>
                                    </div>
                                </div>
                            </div>
                            <span class="editor-block__Asterisk-q8rm33-1 iodYkc Text-wqps8m-0 iuwhap" color="#D95767" font-family="sans">*</span>
                        </div>
                    </div>
                    <div class="YceiW" data-qa="multiple_choice-editor-block">
                        <div data-qa="editor-block-text" data-qa-type="multiple_choice">
                            <div class="fiSTQI">
                                <div data-slate-editor="true" data-key="43"
                                    contenteditable="true" autocorrect="on" spellcheck="true"
                                    role="textbox" data-gramm="false">
                                    <div data-key="44" style="position: relative;">
                                        <span data-key="45">
                                            <span data-slate-leaf="true" data-offset-key="45:0">
                                                <span data-slate-content="true">Which famous con-artist's life is the film </span>
                                            </span>
                                            <span data-slate-leaf="true" data-offset-key="45:1">
                                                <b><span data-slate-content="true">Catch Me If You Can</span></b>
                                            </span>
                                            <span data-slate-leaf="true" data-offset-key="45:2">
                                                <span data-slate-content="true"> based on?</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hkxwYs" color="#4fa9b3" data-qa="image-attachment-thumbnail">
                            <div class="bI-center" color="#4fa9b3">
                                <img class="Image-tii510-1 hiUEYu"
                                    src="https://images.typeform.com/images/N7i2UBMpkcQQ">
                            </div>
                            <div
                                class="TagAction-tii510-3 kCNiqq IconRoot-tvakxr-0 fXqfZi Align-sc-1shbtnq-0 jSseXd"
                                height="auto" width="auto" color="#4fa9b3">
                                <span class="SVGInline"><svg class="SVGInline-svg"
                                        width="9" height="9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.43412 8.43418c-.36388.36388-.95384.36388-1.31772 0L.979941 2.29773c-.363879-.36388-.363879-.95385 0-1.317728.363879-.363879.953849-.36388 1.317729 0L8.43412 7.11646c.36388.36388.36388.95384 0 1.31772z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M.979941 8.43418c-.363879-.36388-.36388-.95384 0-1.31772L7.1164.980002c.36388-.363879.95384-.363879 1.31772 0 .36388.363878.36388.953848 0 1.317728L2.29767 8.43418c-.36388.36388-.95385.36388-1.317729 0z"></path></svg></span>
                            </div>
                        </div>
                        <div class="Spacer-cjod5i-0 kwWljx">
                            <div data-slate-editor="true" data-key="47" contenteditable="true" autocorrect="on" spellcheck="true" role="textbox" data-gramm="false">
                                <div class="Container-sc-14tr3x4-0 editor-choice">
                                    <div class="utilsrender__Choice-sc-1jl4d76-0 dCwjTF" data-key="48" data-qa="editor-choice">
                                        <span>
                                            <span data-key="49">
                                                <span data-slate-leaf="true" data-offset-key="49:0">
                                                    <span data-slate-content="true">Gregor MacGregor</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="Container-sc-14tr3x4-0 editor-choice">
                                    <div class="utilsrender__Choice-sc-1jl4d76-0 dCwjTF"
                                        data-key="50" data-qa="editor-choice">
                                        <span><span data-key="51"><span
                                                data-slate-leaf="true" data-offset-key="51:0"><span
                                                    data-slate-content="true">Frank Abagnale</span></span></span></span>
                                    </div>
                                </div>
                                <div class="Container-sc-14tr3x4-0 editor-choice">
                                    <div class="utilsrender__Choice-sc-1jl4d76-0 dCwjTF"
                                        data-key="52" data-qa="editor-choice">
                                        <span><span data-key="53"><span
                                                data-slate-leaf="true" data-offset-key="53:0"><span
                                                    data-slate-content="true">Bernard Madoff</span></span></span></span>
                                    </div>
                                </div>
                                <div class="Container-sc-14tr3x4-0 editor-choice">
                                    <div class="utilsrender__Choice-sc-1jl4d76-0 dCwjTF" data-key="54" data-qa="editor-choice">
                                        <span>
                                            <span data-key="55">
                                                <span data-slate-leaf="true" data-offset-key="55:0">
                                                    <span data-slate-content="true">Charles Ponzi</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Import setting tool. -->
                    <th:block th:replace="quizContextMenu"></th:block>
                </div>
            </div>
        </div>
    </body>
</html>