<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Static Template</title>
    </head>
    <body>
        <div>
            <h2 style="font-size:20px; color: #000; margin-bottom: 20px">Link access to confirm.</h2>
            <h3 style="font-size:25px; text-align:center; margin-bottom:20px">[[${url}]]</h3>
            <h3 style="font-size:25px; text-align:center; margin-bottom:20px">[[${pin}]]</h3>
        </div>
    </body>
</html>