<th:block th:fragment="quizMenuSetting" xmlns:th="http://www.thymeleaf.org">
	<div class="slider__AnimationRoot-sc-1x2aosl-1 iLNcwh" data-qa="panel-is-opened" open="">
		<div class="slider__Panel-sc-1x2aosl-0 bjOgxa">
			<div class="panel__Panel-u6wnzj-0 lakAeX" data-qa="block-settings-panel">
				<div class="blinker__BlinkerWrapper-sc-9xr8cm-0 cynMkA">
					<div class="Container-sc-14tr3x4-0 dIgEML">
						<div class="Container-sc-14tr3x4-0 jrSDAx">
							<div class="Spread-sc-1pjvgl-0 kqohwN" orientation="horizontal">
								<span class="Text-wqps8m-0 iYZdEA" font-weight="bold" font-family="sans">Question settings</span>
								<div class="Distribute-oruih0-0 RRidE" orientation="horizontal">
									<button class="IconButtonRoot-i7dp45-0 dPXYQt" color="#898989">
										<div class="IconRoot-tvakxr-0 gpzNiS Align-sc-1shbtnq-0 jSseXd" height="auto" width="auto" color="#898989">
											<span class="SVGInline">
											    <svg class="SVGInline-svg" width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M6.00008 2.94976L8.87876 5.82845C9.65981 6.6095 10.9261 6.60949 11.7072 5.82844L6.00008 0.121338L0.292969 5.82844C1.07402 6.60949 2.34035 6.60949 3.1214 5.82844L6.00008 2.94976Z"></path>
												</svg>
											</span>
										</div>
									</button>
									<button class="IconButtonRoot-i7dp45-0 dPXYQt" color="#898989">
										<div
											class="IconRoot-tvakxr-0 gpzNiS Align-sc-1shbtnq-0 jSseXd"
											height="auto" width="auto" color="#898989">
											<span class="SVGInline"><svg class="SVGInline-svg"
													width="12" height="7" fill="none"
													xmlns="http://www.w3.org/2000/svg">
                                                                            <path
														fill-rule="evenodd" clip-rule="evenodd"
														d="M6.00008 3.58581L3.12139 0.707124C2.34035 -0.0739251 1.07402 -0.0739234 0.292969 0.707125L6.00008 6.41423L11.7072 0.707125C10.9261 -0.0739234 9.6598 -0.0739234 8.87876 0.707125L6.00008 3.58581Z"></path></svg></span>
										</div>
									</button>
									<button class="IconButtonRoot-i7dp45-0 dPXYQt" color="#898989">
										<div
											class="IconRoot-tvakxr-0 gpzNiS Align-sc-1shbtnq-0 jSseXd"
											height="auto" width="auto" color="#898989">
											<span class="SVGInline"><svg class="SVGInline-svg"
													width="9" height="9" fill="none"
													xmlns="http://www.w3.org/2000/svg">
                                                                            <path
														fill-rule="evenodd" clip-rule="evenodd"
														d="M8.43412 8.43418c-.36388.36388-.95384.36388-1.31772 0L.979941 2.29773c-.363879-.36388-.363879-.95385 0-1.317728.363879-.363879.953849-.36388 1.317729 0L8.43412 7.11646c.36388.36388.36388.95384 0 1.31772z"></path>
                                                                            <path
														fill-rule="evenodd" clip-rule="evenodd"
														d="M.979941 8.43418c-.363879-.36388-.36388-.95384 0-1.31772L7.1164.980002c.36388-.363879.95384-.363879 1.31772 0 .36388.363878.36388.953848 0 1.317728L2.29767 8.43418c-.36388.36388-.95385.36388-1.317729 0z"></path></svg></span>
										</div>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="SettingRoot-sc-__aevaw5-3 eOdRwh">
					<div orientation="vertical"
						class="LabelWrapper-sc-__aevaw5-0 eDItbJ">
						<div orientation="vertical" class="Label-sc-__aevaw5-1 bffXHb">Question
							type</div>
						<div class="Control-sc-__aevaw5-2 jueWPO">
							<div class="sc-fzqNJr jqAyMK">
								<button aria-expanded="false" aria-haspopup="listbox"
									id="kitt-288-header" type="button" data-qa="blocktype-selector"
									class="Content-sc-__sc-1rh8p95-0 gwIBdN">
									<div class="PreContent-sc-__m1hmvt-2 jHoTEx">
										<div class="Container-sc-__sc-1aileh0-0 jytSOv">
											<div data-qa="block.statement_block_type_selector"
												orientation="horizontal"
												class="Split-sc-__sc-3xe4fi-0 bxrZiA">
												<div class="SplitItem-sc-__sc-3xe4fi-1 fAMIiV">
													<div kind="compact"
														class="LabelledIconBox-sc-__caci07-0 fzFyEo">
														<div height="auto" width="auto" color="white"
															class="Align-sc-__sc-4yw49j-0 IconRoot-sc-__sc-1eorqw0-0 ePfrXE">
															<span class="SVGInline"><svg class="SVGInline-svg"
																	width="14" height="11" viewBox="0 0 14 11" fill="none"
																	xmlns="http://www.w3.org/2000/svg">
																	<path
																		d="M10 0C8.8955 0 8 0.8955 8 2V6H12V10.5C13.1045 10.5 14 9.6045 14 8.5V0H10Z"></path>
																	<path
																		d="M0 2V6H4V10.5C5.1045 10.5 6 9.6045 6 8.5V0H2C0.8955 0 0 0.8955 0 2Z"></path></svg></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="SelectedOptionText-sc-__m1hmvt-0 eHdmMm">Statement</div>
								</button>
								<div height="auto" width="auto" color="#737373"
									class="Align-sc-__sc-4yw49j-0 IconRoot-sc-__sc-1eorqw0-0 hpSdOY">
									<span class="SVGInline"><svg class="SVGInline-svg"
											width="12" height="7" viewBox="0 0 12 7" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M6.00008 3.58581L3.12139 0.707124C2.34035 -0.0739251 1.07402 -0.0739234 0.292969 0.707125L6.00008 6.41423L11.7072 0.707125C10.9261 -0.0739234 9.6598 -0.0739234 8.87876 0.707125L6.00008 3.58581Z"></path></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel__PanelContent-u6wnzj-3 fJGKLM">

					<div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Required</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Description</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="piping">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Recall
									Information</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<button class="ButtonRoot-sc-1dguzy0-0 jUsQkn">
										<div class="Distribute-oruih0-0 hZoDMF"
											orientation="horizontal">
											<span class="Text-wqps8m-0 gNQquP" font-family="sans">Add</span>
										</div>
									</button>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Show
									choice labels</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Super
									size</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="piping">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Image</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<button class="ButtonRoot-sc-1dguzy0-0 jUsQkn">
										<div class="Distribute-oruih0-0 hZoDMF"
											orientation="horizontal">
											<span class="Text-wqps8m-0 gNQquP" font-family="sans">Add</span>
										</div>
									</button>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Min
									number</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Max
									number</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<!-- Image added. -->
						<!-- <div class="SettingRoot-sc-18k255k-3 gcsheO">
						<div class="LabelWrapper-sc-18k255k-0 iifWdu"
							orientation="horizontal">
							<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Image</div>
							<div class="Control-sc-18k255k-2 iOGfnx">
								<button class="ButtonRoot-sc-1dguzy0-0 lgwWgo"
									data-qa="image_attachment">
									<div class="Distribute-oruih0-0 hZoDMF"
										orientation="horizontal">
										<span class="Text-wqps8m-0 gNQquP" font-family="sans">Remove</span>
									</div>
								</button>
							</div>
						</div>
					</div> -->
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="piping">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu" orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Video</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<button class="ButtonRoot-sc-1dguzy0-0 jUsQkn">
										<div class="Distribute-oruih0-0 hZoDMF"
											orientation="horizontal">
											<span class="Text-wqps8m-0 gNQquP" font-family="sans">Add</span>
										</div>
									</button>
								</div>
							</div>
						</div>

						<div data-qa="media-setting" class="SettingRoot-sc-__aevaw5-3 eOdRwh">
							<div orientation="horizontal" class="LabelWrapper-sc-__aevaw5-0 efjjbd">
								<div orientation="horizontal" class="Label-sc-__aevaw5-1 Hebbr">Image or video</div>
								<div class="Control-sc-__aevaw5-2 jueWPO">
									<div orientation="horizontal"
										class="Distribute-sc-__sc-1s2i8aq-0 jjJKXQ">
										<button type="button" data-qa="media-setting-edit"
											class="ButtonRoot-sc-__sc-1vu0deq-0 gMuTrm">
											<div orientation="horizontal"
												class="Distribute-sc-__sc-1s2i8aq-0 YOXft">
												<span font-family="sans"
													class="Text-sc-__sc-1h7ebrz-0 djRoaw">Edit</span>
											</div>
										</button>
										<button color="icon" data-qa="media-setting-remove"
											class="IconButtonRoot-sc-__nzc5pg-0 ZxMxz">
											<div height="auto" width="auto" color="icon"
												class="Align-sc-__sc-4yw49j-0 IconRoot-sc-__sc-1eorqw0-0 kKgMaN">
												<span class="SVGInline"><svg class="SVGInline-svg"
														width="11" height="14" viewBox="0 0 11 14" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M0 4.49845l.902993 7.48815C1.03774 13.1346 2.01073 14 3.16704 14h3.92434c1.15586 0 2.12886-.8654 2.26404-2.0134l.90298-7.48815H0zM8.8453 1.53529l-2.01204-.35481c-.02232-.526746-.406-.986554-.94675-1.0819286l-.4598-.0809368C4.88596-.0777596 4.3684.2228 4.16715.710171L2.11005.347924C1.18037.183863.29356.804671.129499 1.73479L10.2326 3.51627c.1636-.93011-.45718-1.81692-1.3873-1.98098z"></path></svg></span>
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Video disable. -->
						<!-- <div class="SettingRoot-sc-18k255k-3 gcsheO">
						<div class="LabelWrapper-sc-18k255k-0 ceZruo" disabled=""
							orientation="horizontal">
							<div class="Label-sc-18k255k-1 ijycmN" disabled=""
								orientation="horizontal">Video URL</div>
							<div class="Control-sc-18k255k-2 iOGfnx">
								<button class="ButtonRoot-sc-1dguzy0-0 jUsQkn" disabled=""
									data-qa="video_attachment">
									<div class="Distribute-oruih0-0 hZoDMF"
										orientation="horizontal">
										<span class="Text-wqps8m-0 gNQquP" font-family="sans">Add</span>
									</div>
								</button>
							</div>
						</div>
					</div> -->
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Multiple
									selection</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Randomize</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">"Other"
									option</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>
						<div class="SettingRoot-sc-18k255k-3 gcsheO" data-qa="description">
							<div class="LabelWrapper-sc-18k255k-0 iifWdu"
								orientation="horizontal">
								<div class="Label-sc-18k255k-1 hRwusY" orientation="horizontal">Vertical
									alignment</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="Toggle-nhxjxi-0 bMyoVk" data-qa="toggle"></div>
								</div>
							</div>
						</div>

						<div
							class="welcome-screen-settings__StringSettingWrapper-sc-1t6iwuq-1 dELvdM SettingRoot-sc-18k255k-3 gcsheO"
							data-qa="button_text">
							<div class="LabelWrapper-sc-18k255k-0 jmqFms"
								orientation="vertical">
								<div class="Label-sc-18k255k-1 iVWAQl" orientation="vertical">Button</div>
								<div class="Control-sc-18k255k-2 iOGfnx">
									<div class="StringInputRoot-iwhi9i-0 jAsGSt" width="full">
										<div class="InputFieldBox-iwhi9i-1 ioyod">
											<div class="InputFieldWrapper-iwhi9i-3 jdQIwO">
												<input class="Input-iwhi9i-2 cuosAf" type="text"
													value="Let&#39;s get started">
											</div>
											<div class="Counter-iwhi9i-4 iZhwUY">17 / 24</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="welcome-screen-settings__SettingSeparator-sc-1t6iwuq-2 gBQBKN Spacer-cjod5i-0 fWKmPF"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- SELECT OPTIONS. -->
    <th:block th:replace="/template/quizMenuAddtional"></th:block>

</th:block>