<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="main-footer text-center">
        <div class="container">
            <div class="row row-sm">
                <div class="col-md-12">
                    <span>Copyright © 2021 <a href="#">CSF</a>. Designed by <a href="#">Tuan</a> All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery js-->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap js-->
    <script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Internal Chart.Bundle js-->
    <script th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>

    <!-- Peity js-->
    <script th:src="@{/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Select2 js-->
    <script th:src="@{/plugins/select2/js/select2.min.js}"></script>

    <!-- Perfect-scrollbar js -->
    <script th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>

    <!-- Sidemenu js -->
    <script th:src="@{/plugins/sidemenu/sidemenu.js}"></script>

    <!-- Sidebar js -->
    <script th:src="@{/plugins/sidebar/sidebar.js}"></script>

    <!-- Internal Morris js -->
    <script th:src="@{/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/plugins/morris.js/morris.min.js}"></script>

    <!-- Circle Progress js-->
    <script th:src="@{/js/circle-progress.min.js}"></script>
    <script th:src="@{/js/chart-circle.js}"></script>
</th:block>