<th:block th:fragment="headFragment" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
        <meta name="author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">

        <!-- Favicon -->
        <link rel="icon" th:href="@{img/brand/favicon.ico}" type="image/x-icon"/>

        <!-- Title -->
        <title>Dashboard Template</title>

        <!-- Bootstrap css-->
        <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Icons css-->
        <link th:href="@{/plugins/web-fonts/icons.css}" rel="stylesheet"/>
        <link th:href="@{/plugins/web-fonts/font-awesome/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/plugins/web-fonts/plugin.css}" rel="stylesheet"/>

        <!-- Style css-->
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link th:href="@{/css/skins.css}" rel="stylesheet">
        <link th:href="@{/css/dark-style.css}" rel="stylesheet">
        <link th:href="@{/css/colors/default.css}" rel="stylesheet">

        <!-- Color css-->
        <link id="theme" rel="stylesheet" type="text/css" media="all" th:href="@{/css/colors/color.css}">

        <!-- Select2 css-->
        <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet">

        <!-- Mutipleselect css-->
        <link rel="stylesheet" th:href="@{/plugins/multipleselect/multiple-select.css}">

        <!-- Sidemenu css-->
        <link th:href="@{/css/sidemenu/sidemenu.css}" rel="stylesheet">
    </head>
</th:block>