<th:block th:fragment="menu" xmlns:th="http://www.thymeleaf.org">

    <!-- Internal DataTables css-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatable/dataTables.bootstrap4.min.css}" />

    <!-- Sidemenu -->
    <th:block th:if="${pageNm == 'main'}">
        <!-- Sidemenu -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><span class="shape1"></span><span class="shape2"></span><em class="ti-home sidemenu-icon"></em><span class="sidemenu-label">Dashboard</span></a>
            </li>
            <!-- <li class="nav-header"><span class="nav-label">Channel Management</span></li> -->
            <li class="nav-item">
                <a class="nav-link with-sub" href="#">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <em class="ti-receipt sidemenu-icon"></em>
                    <span class="sidemenu-label">Channel & Group information</span>
                    <span class="badge badge-info side-badge">6</span>
                </a>
                <ul class="nav-sub">
                   <th:block th:if="${resultList != null && !resultList.empty}">
                        <th:block th:each="menu : ${resultList}">
                            <li class="nav-sub-item">
                                <a class="nav-sub-link" th:href="|#javascript:;|" th:onclick="|javascript:selectMenu('__${menu.linkScreen}__')|">${menu.menuName}</a>
                            </li>
                        </th:block>
                    </th:block>
                    
                </ul>
            </li>
        </ul>
        <script th:inline="text">
            function selectMenu(link) {
                parent.document.getElementById('floor').src = link;
            }
        </script>
        <!-- End Sidemenu -->
    </th:block>
    <th:block th:unless="${pageNm == 'main'}">

    <div><br/></div>
        <!-- Row -->
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body">
                        <div>
                            <h6 class="main-content-label mb-1">Export content</h6>
                            <p class="text-muted card-sub-title">Exporting data from a table can often be a key part of a complex application. The Buttons extension for DataTables provides three plug-ins that provide overlapping functionality for data export:</p>
                        </div>
                        <div class="btn btn-list">
                            <button class="btn ripple btn-primary btn-with-icon"><i class="fe fe-airplay"></i>Copy to clipboard</button>
                            <button class="btn ripple btn-secondary btn-with-icon"><i class="fe fe-briefcase"></i> Export Excel</button>
                            <button class="btn ripple btn-success btn-with-icon"><i class="fe fe-folder"></i> Export PDF</button>
                            <button class="btn ripple btn-success btn-with-icon"><i class="fe fe-folder"></i> Invisible column</button>
                        </div>
                        <div class="table-responsive">
                            <table id="exportexample" class="table table-bordered border-t0 key-buttons text-nowrap w-100" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row row-sm">
                            <ul class="pagination pagination-circled">
                                <li class="page-item"><a class="page-link" href="#"><i class="icon ion-ios-arrow-back"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="icon ion-ios-arrow-forward"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </th:block>
    <!-- End Sidemenu -->
</th:block>