<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <th:block th:replace="/layout/head :: headFragment"></th:block>
    <body class="main-body">
        <!-- Main Content-->
        <div class="main-content side-content pt-0">
            <div class="container-fluid">
                <div class="inner-body">
                    <!-- Create Pattern in here. -->
                    <!-- <th:block th:replace="@{includePage} :: ${pageNm}"></th:block> -->
                    <th:block th:replace="@{__${includePage}__}"></th:block>
                </div>
            </div>
        </div>
    </body>
</html>