<th:block th:fragment="quizImage" xmlns:th="http://www.thymeleaf.org">
	<div>
		<div class="editor-block__Container-q8rm33-0 container">
			<div>
				<div class="visual__Root-sc-1oj35my-2 kcnEwO">
					<div class="visual__EditorBlockWrapper-sc-1oj35my-4 blockWrapper" data-qa="editor-block">
						<div>
							<div class="editor-block__GutterWrapper-q8rm33-3 gutterWrapper">
								<div class="editor-block__BlockIndex-q8rm33-2 hQiBHf Split-sc-3xe4fi-0 blockIndex"
									data-qa="gutter-icon" 
									data-qa-block-ref="f091af8953324b8c"
									data-qa-gutter-type="welcome_screen" 
									orientation="horizontal">
									<div class="SplitItem-sc-3xe4fi-1 splitItem">
										<div class="BlockBox-sc-1oydzc8-0 blockBox" kind="wide">
											<div class="IconRoot-tvakxr-0 fYiTPF Align-sc-1shbtnq-0 iconRoot" height="auto" width="auto" color="white">
												<span class="SVGInline">
												    <svg class="SVGInline-svg"
														width="14" height="14" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M0 2V12C0 12.5304 0.210714 13.0391 0.585786 13.4142C0.960859 13.7893 1.46957 14 2 14H7.5V0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2Z"></path>
														<path d="M11 1H9V13H11V1Z"></path>
														<path d="M14 3H12.5V11H14V3Z"></path></svg></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="visual__Content-sc-1oj35my-8 visualContent" data-qa="welcome_screen-editor-block">
							<div data-qa="editor-block-text" data-qa-type="welcome_screen">
								<div class="editor-with-variables__Wrapper-d6gyvf-0 variablesWrapper">
									<div>
										<div data-key="1" style="position: relative;">
											<span data-key="2">
											    <span data-slate-leaf="true" data-offset-key="2:0">
												    <span data-slate-content="true">If you get a high score, you probably spend </span>
												</span>
												<span data-slate-leaf="true" data-offset-key="2:0">
												    <i><span data-slate-content="true">way</span></i>
												</span>
												<span data-slate-leaf="true" data-offset-key="2:2">
												    <span data-slate-content="true"> too much time on Wikipedia.</span>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="editor-block-description__Root-sc-1fkjgz4-0 description">
								<div
									class="editor-block-description__Content-sc-1fkjgz4-1 descriptionContent" data-qa="editor-block-description">
									<div class="editor-with-variables__Wrapper-d6gyvf-0 variablesWrapper">
										<div data-slate-editor="true" data-key="4" contenteditable="true" autocorrect="on" spellcheck="true" role="textbox" data-gramm="false">
											<div data-key="5" style="position: relative;">
												<span data-key="6">
												    <span data-slate-leaf="true" data-offset-key="6:0">
												        <span data-slate-content="true">There are 12 questions and a break for refreshments @in the middle.</span>
												    </span>
												</span>
											</div>
											<div data-key="7" style="position: relative;">
												<span data-key="8">
												    <span data-slate-leaf="true" data-offset-key="8:0">
												        <span data-slate-content="true">(You'll have to provide your own snacks, sorry.)</span>
												    </span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="TagRoot-tii510-6 tagRoot" color="#BBD396" data-qa="image-attachment-thumbnail">
								<div class="TagContent-tii510-4 tagContent" color="#BBD396">
									<img class="Image-tii510-1 image-tii" src="./Create _ Trivia Quiz _ Typeform_files/6Z7tE2rdHGud">
								</div>
								<div class="TagAction-tii510-3 kCNiqq IconRoot-tvakxr-0 dJyorI Align-sc-1shbtnq-0 jSseXd" height="auto" width="auto" color="#BBD396">
									<span class="SVGInline">
									    <svg class="SVGInline-svg" width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M8.43412 8.43418c-.36388.36388-.95384.36388-1.31772 0L.979941 2.29773c-.363879-.36388-.363879-.95385 0-1.317728.363879-.363879.953849-.36388 1.317729 0L8.43412 7.11646c.36388.36388.36388.95384 0 1.31772z"></path>
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M.979941 8.43418c-.363879-.36388-.36388-.95384 0-1.31772L7.1164.980002c.36388-.363879.95384-.363879 1.31772 0 .36388.363878.36388.953848 0 1.317728L2.29767 8.43418c-.36388.36388-.95385.36388-1.317729 0z"></path></svg></span>
								</div>
							</div>
						</div>
						<div class="visual__ContextualMenu-sc-1oj35my-7 contextMenu" data-qa="contextual-menu">
							<div class="Distribute-oruih0-0 distribute" orientation="horizontal">
								<div class="TooltipRoot-sc-132zjtq-2 tooltipRoot">
									<div class="TooltipBox-sc-132zjtq-1 tooltipBox" width="auto">
										<div class="TooltipArrow-sc-1beijho-0 tooltipArrow"></div>
										<div class="TooltipContent-sc-132zjtq-0 tooltipContent">Question settings</div>
									</div>
									<button class="IconButtonRoot-i7dp45-0 fCXHFN" color="#AAA" data-qa="block-settings-tool">
										<div class="IconRoot-tvakxr-0 kxYiFo Align-sc-1shbtnq-0 jSseXd" height="auto" width="auto" color="#AAA">
											<span class="SVGInline">
											    <svg class="SVGInline-svg" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
												    <path d="M15.7648 3.06309l-2.1689 2.16894c-.57.56999-1.4935.56999-2.0635 0l-.7649-.76498c-.57-.56998-.57-1.49346 0-2.06344L12.9364.234662C11.3735-.289324 9.581.0631668 8.33303 1.30263 7.10156 2.5251 6.73907 4.34455 7.25106 5.92001L.585735 12.5858c-.78098.781-.78098 2.0475 0 2.8285.780975.7809 2.047445.7809 2.828425 0L10.069 8.75944c1.5679.52599 3.3674.168 4.6164-1.08097 1.2484-1.24897 1.6049-3.04742 1.0794-4.61538z"></path>
												</svg>
											</span>
										</div>
									</button>
								</div>
								<div class="PopoverRoot-sc-1vzvfd2-0 popover" content="[object Object]" width="none">
									<div class="Trigger-sc-1vzvfd2-1 trigger">
										<button class="IconButtonRoot-i7dp45-0 dPXYQt" color="#898989" data-qa="form-dropdown-button">
											<div class="IconRoot-tvakxr-0 gpzNiS Align-sc-1shbtnq-0 jSseXd" height="auto" width="auto" color="#898989">
												<span class="SVGInline"><svg class="SVGInline-svg" width="14" height="4" xmlns="http://www.w3.org/2000/svg">
														<g transform="rotate(90 7 7)" fill-rule="evenodd">
														<circle cx="2" cy="2" r="1.5"></circle>
														<circle cx="2" cy="7" r="1.5"></circle>
														<circle cx="2" cy="12" r="1.5"></circle></g></svg></span>
											</div>
										</button>
									</div>
									<div class="ContentWrapper-sc-1vzvfd2-2 contentWrapper">
										<div class="AnimateRoot-sc-8m2keq-0 anime-sc">
											<div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="visual__AddBlockButtonSmall-sc-1oj35my-6 add-block">
							<div class="add-block-button__AddBlockPopover-lybuyc-0 fgsuiE PopoverRoot-sc-1vzvfd2-0 eNbGaT" content="[object Object]" data-qa="add-block-popover">
								<div class="Trigger-sc-1vzvfd2-1 jBPXLW">
									<div class="add-block-button__ButtonWrapperSmall-lybuyc-2 add-block-button">
										<div class="IconRoot-tvakxr-0 gpzNiS Align-sc-1shbtnq-0 align-sc" height="24px" width="24px" color="#898989">
											<span class="SVGInline"><svg class="SVGInline-svg" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd"
														d="M0 6c0-1.10457.89543-2 2-2h8c0 1.10457-.89543 2-2 2H0z"></path>
													<path fill-rule="evenodd" clip-rule="evenodd"
														d="M6 0v8c0 1.10457-.89543 2-2 2V2c0-1.104569.89543-2 2-2z"></path></svg></span>
										</div>
									</div>
								</div>
								<div class="ContentWrapper-sc-1vzvfd2-2 contentWrapper-sc">
									<div class="AnimateRoot-sc-8m2keq-0 animateRoot-sc">
										<div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>