<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">


<link rel="stylesheet" type="text/css"
	th:href="@{/css/final/quiz-preview.css}">

<body class="app flex-row align-items-center">

	<!-- <th:block th:replace="/template/quiztype/quizHome-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizShortText-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizStatement-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizPictureChoice-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizNumber-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizPictureChoice-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizMultipleChoice-full-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizRating-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizStatement-JumpB-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizStatement-JumpC-preview"></th:block> -->
	<!-- <th:block th:replace="/template/quiztype/quizMultipleChoiceArange-preview"></th:block> -->

<!-- <th:block th:replace="/template/quiztype/quizPictureChoiceVertical-preview"></th:block> -->
<!-- <th:block th:replace="/template/quiztype/quizPictureChoiceOtherOption-preview"></th:block> -->
<!-- <th:block th:replace="/template/quiztype/quizYesNo-preview"></th:block> -->
<!-- <th:block th:replace="/template/quiztype/quizLongText-preview"></th:block> -->
<!-- <th:block th:replace="/template/quiztype/quizUpload-preview"></th:block> -->
<!-- <th:block th:replace="/template/quiztype/quizWebsite-preview"></th:block> -->
<!-- <th:block th:replace="/template/quiztype/quizMultipleChoice-preview"></th:block> -->

	<!-- <th:block th:replace="/template/quiztype/quizFinishA-preview"></th:block>
	<th:block th:replace="/template/quiztype/quizFinishB-preview"></th:block> -->
	<th:block th:replace="/template/quiztype/quizFinishC-preview"></th:block>
</body>
</html>